<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzg.imagedemo.mapper.ImageMapper">

    <insert id="addImage" parameterType="com.zzg.imagedemo.domain.Image">
        insert into image values (null , #{imageUrl});
    </insert>

</mapper>